.diamond {
	display: block;
	height: 29px;
	width: 29px;	
	position: absolute;
	
		&__lines {
			position: relative;
		}
		
		&--rotate45 {
			position: absolute;
			top: 0;
			left: 19px;
			width: 100%;
			height: 1px;
			background: #3277DF;
			transform: rotate(45deg);
		}
		
		&--rotate-45 {
			position: absolute;
			top: 0;
			left: -1px;
			width: 100%;
			height: 1px;
			background: #3277DF;
			transform: rotate(-45deg);
		}
		
		&--rotate135 {
			position: absolute;
			top: 20px;
			left: 19px;
			width: 100%;
			height: 1px;
			background: #3277DF;
			transform: rotate(135deg);
		}
		
		&--rotate-135 {
			position: absolute;
			top: 20px;
			left: -1px;
			width: 100%;
			height: 1px;
			background: #3277DF;
			transform: rotate(-135deg);
		}
}

.cross {
	display: block;
	height: 15px;
	width: 15px;
	position: absolute;
	
	&__lines {
		position: relative
	}
	
	&--rotate45 {
		position: absolute;
		top: 0;
		left: 19px;
		width: 100%;			
		height: 1px;
		background: $white;
		transform: rotate(45deg);
	}
	
	&--rotate-45 {
		position: absolute;
		top: 0;
		left: 19px;
		width: 100%;			
		height: 1px;
		background: $white;
		transform: rotate(-45deg);
	}
}

.frame:before {
		content: '';
		border: 10px $light_blue solid;
		position: absolute;
		z-index: 10;
}