.intro {
	
	.container {
		min-height: 928px;
	}
	
	.row {
		background-color: #222E3F;
		background-image: url(../images/dest/background_1.png);
		background-repeat: no-repeat;
		background-blend-mode: soft-light;
		min-height: 900px;
		position: relative;
		
		
		@include screen(1025) {
			background-image: none;
		}
	}
	
	.col--50 img:first-child {
		position: absolute;
		min-height: calc(100% + 28px);
		right: 0;
		z-index: 10;
		
		@include screen(1320) {
			max-width: 50%;
		}
	}
	
	
	.col--50 img:last-child {

		@include screen(1320) {
			right: -80px;
		}
		
		@include screen(1025) {
			opacity: 0.5;
		}
		
	} 
	
	.background_2 {
		position: absolute;
		right: 17px;
		top: 134px;
		z-index: 20;
	}	
	
	.main-title {
		display: inline-block;
		margin: 300px 0 0 148px;
		text-align: left;
		position: relative;
		z-index: 30;
		
		@include screen(1200) {
			margin-left: 90px;
		}
	}
	
	.main-title:before {
		position: absolute;
		content: '';
		width: 5px;
		height: 152px;
		top: 5px;
		left: -23px;
		background-color: #23529A;
		
		@include screen(1200) {
			height: 100%;
		}
	}
	
	.perks {
		font: 400 14px/24px montserrat;
		color: $white;
		max-height: 165px;
		max-width: 427px;
		text-align: left;
		margin-top: 31px;
		z-index: 30;
		position: relative;
		
		&__line {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			max-height: 41px;
			margin-bottom: 22px;
			
			@include screen(1200) {
				max-height: 100%;
			}	
		}
		
		.diamond-cross {
			position: relative;
		}
		
		.diamond {
			top: 10px;
			left: 146px;
			
			@include screen(1200) {
				left: 89px;
			}
		}
		
		.cross {
			top: 20px;
			left: 143px;
			
			@include screen(1200) {
				left: 86px;
			}
		}
		
		&__line:first-child {
			
			& .diamond {
				top: 0;
			}
			
			& .cross {
				top: 10px;
			}
		}
		
		
		&__text {
			margin-left: 207px;
			
			@include screen(1200) {
				margin-left: 150px;
			}
		}
	}
}
	
	