.intro {
	
	& .container {
		min-height: 928px;
		position: relative;
	}
	
	& .row {
		background-color: #222E3F;
		background-image: url(../images/dest/background_1.png);
		background-repeat: no-repeat;
		background-blend-mode: soft-light;
		min-height: 900px;
		display: flex;
		flex-flow: row nowrap;
	}
	
	& .col--50 img:first-child {
		position: absolute;
		min-height: 928px;
		right: 0;
		z-index: 10;
	}
	
	& .background_2 {
		position: absolute;
		right: 17px;
		top: 134px;
		z-index: 20;
	}	
	
	& .main-title {
		display: inline-block;
		margin: 300px 0 0 148px;
		text-align: left;
		position: relative;
	}
	
	& .main-title:before {
		position: absolute;
		content: '';
		width: 5px;
		height: 152px;
		top: 5px;
		left: -23px;
		background-color: #23529A;
	}
}
	
	